<div class="container-fluid mb-0">
<h1 class="display-2 text-center">Documentaries</h1>
</div>
<div class="container mt-5">
  <div class="row">
    {{#each documentariesData}}
    <div class="card m-1" style="width:350px">
      <img class="card-img-top ml-2 mr-2 mt-2" src="{{imageUrl}}" alt="Card image">
      <div class="card-body">
        <h2 class="card-title">{{name}}</h2>
        <p class="card-text">{{description}}</p>
        <p class="card-text">{{genre}}</p>
        <p class="card-text">{{year}}</p>
        <p class="card-text">{{director}}</p>
        <a href="/media/{{id}}" class="btn btn-primary">View More</a>
      </div>
    </div>
{{/each}}
  </div> 