{{#each errorMessage}}
  <div class="alert alert-danger dismissable show fade container" role="alert">
    {{this}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{{/each}}

{{#if successMessage}}
  <div class="alert alert-success alert-dismissable fade show container" role="alert">
    {{successMessage}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{{/if}}

<div class='container p-3 shadow-md bg-body rounded'>
  <h1 class="text-left">{{mediaData.mediaName}}</h1>
    <div class = 'row'>
      <div class= 'col-sm-12 col-lg-4 p-2'>
        <img src="{{mediaData.imageUrl}}" class="img-thumbnail" alt="Media Image" style="width: 15rem;"/>
      </div>
      <div class="col-sm-12 col-lg-8 p-2">
        <h3>{{mediaData.creator}}, {{mediaData.year}}</h2>
        <p class= 'lead'>{{mediaData.description}}</p>
        <p class= 'text-muted'>{{mediaData.genre}}</p>
        {{#if userData.admin}}
        <p class="text-muted"> Sharex ID:{{mediaData.id}}</p>
        {{/if}}
      </div>
  </div>
</div>



<div class="container">
  <h2>Reviews:
    {{#if userData}}
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Review Movie
    </button>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <form action="/reviews" method="post">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">My Review</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <textarea id="externalId" name="mediaId" hidden>{{mediaData.id}}</textarea>
                <textarea id="mediaType" name="mediaType" hidden>{{mediaData.mediaType}}</textarea>
                <textarea type="text" class="form-control mb-2" placeholder="Type your Review" id="review" 
                  name="review" minlength="30" required></textarea>

                <select class="form-select" id="rating" name="rating" required>
                  <option selected>Select Rating</option>
                  <option value="1">One Rocket</option>
                  <option value="2">Two Rockets</option>
                  <option value="3">Three Rockets</option>
                  <option value="4">Four Rockets</option>
                  <option value="5">Five Rockets</option>
                </select>
            </div>
            <div class="modal-footer">
              <input class="btn-check" type="checkbox" id="like" name="like">
              <label class="btn btn-outline-danger" for="like" autocomplete="off">Love this movie!</label>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
          
        </div>
      </div>
    </div>
    {{/if}}
  </h2>

  {{#each reviewsData}}
    <div class="card m-3">
      <div class="card-header">
          {{userId.username}} 
          {{#if like}} <img src="/images/heart.png" style="width: 1rem;"> {{/if}}
          {{#each rating}} <img src="/images/rocket.png" style="width: 1rem;"> {{/each}}
      </div>
      <div class="card-body">
          {{review}}
      </div>
    </div>
  {{/each}}
</div>